.button-share {
  padding: 2px 12px;
  background-color: #ff906d;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    background-color: #ff693a;
  }
}

.button-follow {
  padding: 2px 12px;
  background-color: #ff906d;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    background-color: #ff693a;
  }
}

.button-upvote {
  padding: 2px 12px;
  background-color: #ff906d;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    background-color: #ff693a;
  }
}

.button-add-section {
  padding: 2px 12px;
  background-color: #ff906d;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    background-color: #ff693a;
  }
}

.button-actions {
  padding: 2px 12px;
  background-color: #ff906d;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    background-color: #ff693a;
  }
}


.button-edit {
  padding: 2px 12px;
  background-color: #ff906d;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    background-color: #ff693a;
  }
}

.button {
  padding: 2px 12px;
  background-color: #ff906d;
  border-radius: 3px;
  color: #fff;
  border: none;
  &:hover {
    background-color: #ff693a;
  }
}
